.input{
    width: 400px;
    outline: none;
}

.labelInput{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.button{
    width: 10%;
    padding: 8px 12px;
    background-color: teal;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }
}

.loginForm{
width: 500px;
margin: auto;
background-color: yellow;

}

.link{
    color: blue;
    text-decoration: red underline;
    margin-top: 40px;
    display: inline-block;
    
}